@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    background-color: #fff;
}

h1 {
    font-size: 2em;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    text-align: center;
}
p {
    font-size: 1em;
    text-align: center;
}

.home-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}  

#home {
    background-image: url(../images/doorImage.jpg);
    background-size: cover;
    background-position: center top;
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4%;
}
